{% extends "base.html" %}

{% block stylesheet %}
    <style type="text/css">
    div.box h4, div.box p {
        padding-left: 41px;
    }
    </style>
{% endblock %}

{% block note %}{% endblock %}

{% block header_extra %}{% endblock %}

{% block main %}
            <div class="column-4-unit">
                <div class="box qna">
                    <h2>关于我们</h2>
                    <div class="content">

                        <h3 id="note-for-parent">一、致亲爱的家长</h3>

                        <p>很高兴能在这里和您相遇，我们是十一学校二〇一三届高三毕业生。</p>
                        <p>去年的此时，我们也正遇到填报志愿，还记得那时家长们的辛勤收集信息为我们排除、划定范围。在填报志愿的过程中，由于高三的课业压力，家长了解更多的信息显然是十分有必要的。去年的这个平台，让我们的家长不仅仅能看到学校的录取分数线、专业的就业前景等官方宣传，更能了解到来自在校同学的鲜活体验，考虑气候是否适合孩子、学风是否优秀之类的信息。这对我们填报志愿有莫大的帮助。因此今年，我们延续成贤学部和志一学部的工作在这里与您相遇。</p>
                        <p>我们确实不能像专家那样解读政策信息、也无力像老师那样根据您孩子的分数与排名来分析应该报考哪所学校，关于这些我们希望您可以直接向任课老师或杜主任请教。但我们经过一年的大学生活，<strong>对自己的大学和专业有着最鲜活的体会</strong>；我们知道在这所大学里，是否真的学术氛围良好，是否有高水准的选修课，是否能吃到可口的饭菜，是否社团活动丰富多彩……我们了解自己的专业，就业前景是否确实那样光明，是否课程有趣而且师资强劲，是否有转入转出专业的机会……</p>

                        <p>这个网站的工作流程很简单：您提出疑问——我们整理提问并将它们转交至最合适的毕业生们——毕业生回答问题——我们对答复进行编辑然后发布。在这里，我们鼓励公开问答内容；因为只有允许问答内容被大家查阅，您与毕业生的交流才能释放最大价值。提问的信息也将一年年流传下去，作为留给十一的宝贵财富。</p>

                        <p>希望这里能够帮助您和您的孩子做出最适合自己的选择！预祝您的孩子高考顺利！</p>

                        <h3 id="note-for-student">二、致亲爱的高三同学</h3>

                        <p>去年的此时，我们和你一样，焦头烂额地看着自己起起伏伏的成绩，担心自己是不是能进入自己喜欢的学校，父母划定了学校以后不知道该选择哪一所，老师的建议一人一个样……如果说要果断做出选择，那么就需要对信息一无所知，或者是了如指掌，我们希望作为十一校友，能够帮助学弟学妹们在了如指掌的前提下做出选择。</p>

                        <p>在现阶段，填报志愿固然重要，但是<strong>一个稳定的成绩才是填报志愿的基石</strong>，专心学习是目前最重要的事。希望志愿不明确的同学也不要过分担心，把志愿的事情主要交给家长了解和完成，在自己、家长和老师三方合作下高效完成填报。</p>

                        <p>当然，我们也欢迎你们和学长直接交流，在这个网站提出问题，你甚至可以明确表达出想得到某学长的个人联系方式，如果在提问时留下了有效的邮箱地址和手机号码，我们会尽力帮你联系！</p>

                        <p>高三是幸福的一年，在紧张的学习中充满了同学间、师生间的关心，希望你能够尽力，度过自己无悔的高三！</p>

                        <p>希望这里能帮助你做出<strong>最适合自己</strong>的选择！预祝你高考顺利！</p>

                        <h3 id="support">三、特别感谢</h3>

                        <h4>北京市十一学校格致部（二〇一三届高三年级）</h4>

                        <h4>北京市十一学校二〇一一届高三年级</h4>
                        <img src="/static/img/group-photo-of-2011.jpg" alt="二〇一一届毕业合影" />

                        <h4>北京市十一学校成贤学部（二〇一〇届高三年级）</h4>
                        <img src="/static/img/group-photo-of-chengxian.jpg" alt="成贤学部毕业合影" />

                        <h4>北京市十一学校志一学部（二〇〇九届高三年级）</h4>
                        <img src="/static/img/group-photo-of-zhiyi.jpg" alt="志一学部毕业合影" />

                        <h4>北京市十一学校 HCC 社团</h4>

                        <h3 id="founder">四、网站的创立</h3>
                        <p>后端工程师<a href="/senior/#张塔">张塔 <img src="/static/img/avatars/2-张塔.jpg" alt="张塔" /></a> 想到要做这么一个网站，于是前端设计师<a href="/senior/#梁海">梁海 <img src="/static/img/avatars/3-梁海.jpg" alt="梁海" /></a> 加入了，资深站长与准程序员<a href="/senior/#李昂">李昂 <img src="/static/img/avatars/4-李昂.jpg" alt="李昂" /></a> 和我们一起奋斗。<a href="http://hcc.im/">HCC 社团</a>提供了服务器端的维护，还时常提出专业建议。身在香港的<a href="/senior/#关心">关心 <img src="/static/img/avatars/5-关心.jpg" alt="关心" /></a> 很关心这个网站，为我们联系香港的同学们，带来大量有关香港的信息。</p>
                        <p>又一年志愿填报季，高二的<a href="/senior/#邹成星">邹成星 <img src="/static/img/avatars/74-邹成星.jpg" alt="邹成星" /></a> 对网站很感兴趣，找到了 HCC 和一〇届的<a href="/senior/#陈云帆">陈云帆 <img src="/static/img/avatars/22-陈云帆.jpg" alt="陈云帆" /></a>。多管闲事的<a href="/senior/#柳东原">柳东原 <img src="/static/img/avatars/1-柳东原.jpg" alt="柳东原" /></a> 把系统 port 到了 <a href="http://www.djangoproject.com/"><img src="/static/img/djangosite100x25.gif" alt="A Django site." title="A Django site." /></a>，初二小盆宇<a href="/senior/#刘子渊">刘子渊 <img src="/static/img/avatars/75-刘子渊.jpg" alt="刘子渊" /></a> 编写了转移数据的脚本，帮我们保留了往届精彩的问答内容。“志愿”网站的新征程又开始了。</p>
                        <p>如今已至“志愿”的第五个年头。</p>

                        <p>我们用 <a href="http://wave.google.com"><img src="/static/img/wave-logo.gif" alt="Google Wave" /></a> 来进行头脑风暴与任务管理，</p>
                        <p>我们热爱 <a href="http://www.w3.org/">W3C</a>，我们使用 <a href="http://www.w3.org/TR/html5/">HTML 5</a> 并成功通过了检验：<a href="http://validator.w3.org/check?uri=referer"><img src="/static/img/valid-html5.png" alt="Valid HTML 5" height="31" width="88" /></a>。</p>

                        <p>如果对这个网站有任何建议，请发送邮件至 <a href="mailto:zhiyuan@hcc.im">zhiyuan@hcc.im</a>。</p>
                    </div>
                </div>
            </div>
{% endblock %}
