                <div id="search">
                	<h2>搜索</h2>
                    <p class="description">在下面输入关键词<br />以搜索相关问答</p>
                    <form id="searchform" action="#">
                        <div>
                            <input type="text" name="q" id="q" value="关键词" />
                            <input type="image" id="search-arrow" class="shortcut-arrow" src="/static/img/shortcut-arrow.png" alt="速达" />
                        </div>
                    </form>
                </div>