                <div id="shortcut">
                    <h2>速达</h2>
                    <p class="description">在下面输入问答编号并<br />点击箭头来查看某个回答</p>
                    <form id="shortcutform" action="#">
                        <div>
                            <input type="text" id="qid" value="39" />
                            <input type="image" id="shortcut-arrow" class="shortcut-arrow" src="/static/img/shortcut-arrow.png" alt="速达" />
                        </div>
                    </form>
                </div>